*{box-sizing: border-box;
font-family:  Roboto;}
.aviso{
    background-color:#1CD1B0 ;
    position: fixed;
    width: 1443px;
    height: 52.5px;
    left: 0px;
    top: 0px;   
    z-index: 40;
}
header div p{
    position: sticky;
    top: 0px;
    font-family: Roboto;
padding-left: 36px;
    font-style: normal;
font-weight: normal;
font-size: 42px;
margin-top: 0%;
line-height: 56px;
color: #000000;
}
.titulo{position: absolute;
    width: 1440px;
height: 121.5px;
left: 0px;
top: 50px;
background: #00669F;
box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
z-index: 2;
}
header div h1{position: absolute;
width: 602px;
height: 84px;
padding-left: 35px;
top: 20px;
margin-top: 0%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 84px;

color: #FFFFFF;}
#corazon {
    color: red;
    position: relative;
    left: -420px;
    bottom: 250px;
    font-size: 40px;
    z-index: 39;
}
.fondo{ 
    border-radius: 10px;
    position: relative;
    left: 0px;
    width: 448px;
    height: 304.9px;
    ;
}
.img{ border-radius: 200px;
position: relative;
width: 225px;
height: 225px;
bottom: 170px;
left:  115px;
z-index: 20;
}
.card-batman{
    position: absolute;
    left: 510px;
top: 297px;
}  
.content{
 position: relative;  
 background-color:#F3F3F3 ;
 bottom: 300px;
 width: 448px;
 height: 539.9px;
 z-index: 0;
}
.titulo-heroe{
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 48px;
}
.texto-heroe{
    position: relative;
    top: 150px;
font-size: 27px;
}
a{text-decoration: none;
    text-align: center;
    left: 130px;
    position: relative;
    font-size: 27px;
    top: 200px ;
   padding: 25px 50px 25px 50px;
    color: white    ;
    background-color: #00669F;

}

.card-maravilla{
    position: absolute;
    left: 510px;
top: 1300px;   
}
.card-superman{
    position: absolute;
    left: 510px;
top: 2400px;   
}
footer{ color:  #FFF9F9;
    background-color: #00669F;
    padding-top: 25px;
    text-align: center;
font-size: 27px;
    position: absolute;
width: 1542px;
height: 121.5px;
left: -102px;
top: 3400px;
}

.barrita-mas {
    color: #FFF9F9;
    position: fixed;
    font-size: 62px;
    padding: 10px 25px;
    right: 40px;
    top: 300px;
    border-radius: 100% ;
    background-color:#00669F;
    width: 40x;}