@import url("./style_global.css");
select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
  .registro{position:absolute;
    left: 410px;
    top: 229px;
}
.textoprincipal{
    color: var(--tituloPagina);
    width: 327px;
    height: 72px;
    font-size: 72px;}
.tengocuenta{
    position: relative;
    text-align: center;
    top: 70px;
    font-family: Karla;
font-style: normal;
font-weight: normal;
font-size: 21.4769px;

}
p a{
    text-decoration-line: none;
}